#base-page
{
  width:100%;height:100%;
}
#base-account
{
  border-radius:15px;float:left;
  width:75%;height:auto;display:block;
  overflow:hidden;margin-left:40px;margin-top:15px;
}
#account-title
{
  margin:20px 5%;margin-right:3%;
}

.base-inputs-style
{
  width:94%;height:120px;margin:5px auto;display:flex;
}

.title-field
{
  margin-right:10%;float:right;margin-top:5px;
}

.inputs-style
{
  width:80%;height:40%;margin:0px auto;display:block;
}

.inputs-side-by-side-style
{
  width:50%;height:100%;
}

#address-base
{
  width:94%;height:190px;margin:5px auto;
}

#address-title
{
  margin-right:5%;float:right;margin-top:5px;
}

#address-centered
{
  width:95%;height:100%;
}

#address-text
{
  width:95%;height:50%;margin-right:5%;resize:none;padding:10px;
}

#base-edits
{
  width:85%;height:55px;margin:0px auto;
}

#button-edit-password
{
  float:right;width:45%;height:100%;text-align:center;border-radius:5px;
}

.button-text
{
  margin-top:10px;
}

#button-delete-account
{
   float:left;
   border-color:red;
   color:red;
}

.button-style
{
  width:45%;height:55px;text-align:center;border-radius:5px;
}

#button-save
{
  border-color:green;
  color:green;
  width:100%;
  background-color:transparent;
}
#base-button-save
{
  width:60%;height:auto;background-color:transparent;margin:20px auto;
}
