#base-cartlist-items
{
  text-align:center;border-radius:15px;float:left;
  width:75%;height:auto;display:block;/*flex-flow:wrap;*/
  overflow:hidden;margin-left:40px;margin-top:15px;
}

.item-style
{
  width:95%;height:200px;margin:25px auto;
}

.item-picture-style
{
  float:right;margin-right:1.50%;margin-top:13px;width:170px;height:170px;
}

.item-title
{
  float:right;margin-right:15px;width:250px;
}

.item-price
{
  float:right;margin-right:-245px;margin-top:150px;
}

.item-price-unit
{
    float:right;margin-right:-130px;margin-top:152.50px;
}

.button-plus-minus-style
{
  border-radius:15px;float:left;width:150px;height:70px;background-color:gray;margin:15px;
}

.centered-button-plus-minus-style
{
  width:55%;height:50%;margin:-3px auto;
}

.btn-minus-plus-style
{
  margin-top:0px;padding:4px;color:white;
}

.amount-style
{
  color:white;padding:4px;
}

.button-remove-style
{
  border-radius:15px;float:left;width:150px;height:70px;background-color:red;margin-left:-165px;margin-top:115px;
}

.text-button-remove-style
{
  margin-top:17.50px;color:white;
}

.FloatLeft
{
  float:left;
}
.FloatRight
{
  float:right
}

#submit-cartlist
{
  width:50%;background-color:lightgreen;border:1px solid green;border-radius:15px;margin:30px auto;
}
#base-total-prices
{
  width:50%;height:auto;margin:10px auto;text-align:center;
}
