#footer-base
{
  /* margin:0px auto; background-color:#031b51;width:100%;height:250px; */
  margin:0px auto; background-color:#031b51;width:100%;height:250px;position:relative;bottom:0%;
}

#footer-right-side
{
  background-color:transparent;width:50%;height:80%;float:right;margin-right:2.50%;margin-top:30px;
}
#contact-us-title-footer
{
  color:white;font-weight:bold;font-size:40px;margin-right:0px;margin-top:5px;
}
.contact-us-detials-footer
{
  color:white;margin-right:15px;margin-top:-20px;font-size:25px;
}

#footer-left-side
{
  margin-left:2.50%;margin-top:30px;float:left;background-color:transparent;width:37%;height:80%;
}

#enamad
{
  float:left;margin-top:10px;background-color:white;border:1px solid blue;
}

#our-social-medias-text
{
  color:white;margin:0px auto 0px auto;
}
